{% extends "base.html" %}

<title>{% block title %} LOGIN {% endblock %}</title>

{%block Content%}

<form action="" method="POST">
    <div class="container-fluid">
        <div class="row   align-items-center justify-content-center ">
            
            <div  class="border p-3 mt-5 col-lg-6 ">
                <h1 class=" d-flex  align-items-center justify-content-center text-secondary" >Login</h1>

                <div class="form-group mt-3">
                    <label for="InputEmail1" class=" col-form-label">Email address</label>
                    <input type="email" class="form-control" id="InputEmail1" name="email" value='{{context.email}}' placeholder="enter email address" aria-describedby="emailHelp">
                    <p style="color: red;">{{context.msg.noUser}}</p>
                </div>

                <div class="form-group mt-3">
                    <label for="InputPassword1" class=" col-form-label">Password</label>
                    <input type="password" class="form-control" id="InputPassword1" name="password" placeholder="enter password">
                    <p style="color: red;">{{context.msg.incorrectPassword}}</p>
               
                </div>
                

                <div class="my-3 ">
                <button type="submit" class="btn btn-secondary">Submit</button>

                </div>
            </div>
        </div>
    </div>    
</form>
{%endblock%}